@import '@fortawesome/fontawesome-free/css/all.css';

.simulador {
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header-container {
  display: flex;
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  align-items: center; /* Alinha o conteúdo verticalmente */
  position: relative; /* Permite o posicionamento absoluto dos filhos */
}

.step {
  position: absolute;
  left: 0;
  background: none;
  border: none; /* Remove a borda do botão */
  font-size: 1.5rem; /* Ajuste o tamanho do ícone e texto conforme necessário */
  cursor: pointer;
  color: #9ec39e; /* Cor do ícone e texto */
  display: flex;
  align-items: center; /* Alinha ícone e texto verticalmente */
}

.droplet {
  font-size: 1.2rem; /* Ajuste o tamanho da fonte conforme necessário */
  background-color: #9ec39e;
  padding: 0.5em 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 1em; /* Ajuste o padding conforme necessário */
  border-radius: 10px;
}

.input-container-three {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: black;
}

.input-list-three {
  flex-grow: 1; /* Faz a lista de inputs crescer para preencher o espaço disponível */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Espaçamento entre os inputs */
  margin: 20px 0; /* Margem acima e abaixo */
  border: black;
}

.input-group-three {
  display: flex;
  align-items: center; /* Alinha os itens verticalmente no centro */
  gap: 20px; /* Espaçamento entre os elementos do grupo */
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 15px;
}

.random-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.text-and-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* Espaçamento entre o input de texto e o botão */
}

.extra-input-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

input[type="text"],
select,
.extra-input-button {
  text-align: center; /* Centraliza o texto horizontalmente */
  padding: 0.5em; /* Ajuste o padding conforme necessário */
  font-size: 1rem; /* Ajuste o tamanho da fonte conforme necessário */
  width: 200px; /* Ajuste a largura conforme necessário */
  border: 1px solid #ccc; /* Adiciona uma borda */
  border-radius: 5px; /* Adiciona bordas arredondadas */
}

.extra-input-button {
  background-color: #9ec39e;
  color: black;
  border: none; /* Remove a borda do botão */
  cursor: pointer;
  height: 40px; /* Ajuste a altura conforme necessário */
}

.main-input {
  border: 2px solid #9ec39e; /* Adiciona uma borda mais espessa ao input principal */
}

.add-input-button{
  margin-top: 10px;
  padding: 0.5em 1em;
  font-size: 1rem;
  background-color: #9ec39e;
  color: black;
  border: none; /* Remove a borda do botão */
  border-radius: 5px;
  cursor: pointer;
  width: 200px; /* Ajuste a largura conforme necessário */
  height: 50px; /* Ajuste a altura conforme necessário */
}

.add-input-container {
  display: flex;
  justify-content: center; /* Centraliza o botão horizontalmente */
  width: 100%;
}

.footer {
  display: flex;
  justify-content: flex-end; /* Alinha o botão ao lado direito */
  width: 100%; /* Ocupa toda a largura disponível */
  margin-top: auto; /* Empurra o rodapé para o fundo do contêiner */
}

.footer-button {
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
  font-size: 1rem;
  background-color: #4CAF50;
  color: white;
  border: none; /* Remove a borda do botão */
  border-radius: 5px;
  cursor: pointer;
}

.arrow {
  margin-left: 0.5em;
}

.water-drop-icon {
  font-size: 100px; /* Ajuste o tamanho conforme necessário */
}
