.sidebar {
    position: fixed;
    z-index: 100;
    left: -250px; /* Oculta o menu fora da tela inicialmente */
    width: 250px;
    height: 20%;
    background-color: #f4d8cc;
    padding: 1%;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    transition: left 0.3s ease;
    border-radius: 10px;
  }
  
  .sidebar.open {
    left: 0; /* Move o menu para dentro da tela */
  }
  
  .sidebar nav ul {
    list-style-type: none;
    padding: 5%;
    
  }
  
  .sidebar nav ul li {
    margin: 5% 0;
    background-color: #9ec39e;
    border-radius: 10px;
  }
  
  .sidebar nav ul li a {
    text-decoration: none;
    color: #333;
  }
  
  .sidebar nav ul li a:hover {
    text-decoration: underline;
  }
  