@import '@fortawesome/fontawesome-free/css/all.css';

.simulador {
  padding: 1%;
}

.header-container {
  display: flex;
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  align-items: center; /* Alinha o conteúdo verticalmente */
  position: relative; /* Permite o posicionamento absoluto dos filhos */
}

.step {
  position: absolute;
  left: 0;
  margin-top: 1%;
  background-color: #f4d8cc;
  border-radius: 10px;
  border: none;
  padding: 0.2em;
  font-size: 1.5rem; /* Ajuste o tamanho da fonte conforme necessário */
}

.step-button {
  color: black;
}

.species {
  font-size: 1.2rem; /* Ajuste o tamanho da fonte conforme necessário */
  background-color: #9ec39e;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
  border-radius: 10px;
  position: relative;
  padding: 0.01% 1%;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.input-list {
  flex-grow: 1; /* Faz a lista de inputs crescer para preencher o espaço disponível */
  flex-direction: column;
}

.input_but {
  background-color: #a7c0a7;
  text-align: center;
  border-radius: 5px;
  border: none;
  height: 25px;
}

.add-input-button {
  margin-top: 5px;
  font-size: 1rem;
  background-color: #a7c0a7;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 50%;
}

.footer {
  display: flex;
  justify-content: flex-end; /* Alinha o botão ao lado direito */
}

.footer-button {
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
  font-size: 1rem;
  background-color: #f4d8cc;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.footer-button .fa-arrow-right {
  margin-left: 0.5em;
}
