@import '@fortawesome/fontawesome-free/css/all.css';

.simulador {
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header-container {
  display: flex;
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  position: relative; /* Permite o posicionamento absoluto dos filhos */
}

.step {
  position: absolute;
  left: 0;
  background: none;
  border: none; /* Remove a borda do botão */
  font-size: 1.5rem; /* Ajuste o tamanho do ícone e texto conforme necessário */
  cursor: pointer;
  background-color: #f4d8cc; /* Cor do ícone e texto */
  color: black;
  display: flex;
  align-items: center; /* Alinha ícone e texto verticalmente */
}

.simulation {
  font-size: 1.2rem; /* Ajuste o tamanho da fonte conforme necessário */
  background-color: #9ec39e;
  display: flex;
  align-items: center;
  padding: 0.5em 1em; /* Ajuste o padding conforme necessário */
  border-radius: 10px;
}

.tabs-container {
  width: 100%;
  display: flex;
  justify-content: center; /* Centraliza as abas horizontalmente */
}

.MuiTabs-flexContainer {
  justify-content: space-around;
}

.footer {
  display: flex;
  justify-content: flex-end; /* Alinha o botão ao lado direito */
  width: 100%; /* Ocupa toda a largura disponível */
}

.footer-button {
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
  font-size: 1rem;
  background-color: #f4d8cc;
  color: black;
  border: none; /* Remove a borda do botão */
  border-radius: 5px;
  cursor: pointer;
}

.arrow {
  margin-left: 0.5em;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.centered-image {
  max-width: 1000px;
  width: 100%;
  height: auto;
}

